<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>


<script type="text/javascript">



var tit="dddddddddd22";
var tits="2";
var a="Get position"; 

function ld(){   

let post = {
    title:   'JavaScript Template Literals',
    excerpt: 'Introduction to JavaScript template literals in ES6',
    body:    'Content of the post will be here...',
    tags:    ['es6', 'template literals', 'javascript']
};

let {title, excerpt, body, tags} = post;

 // alert(`dddddddddd${title}ddddddddddddddd` );


var postHtml = `<article>
<header>
    <h1>${title}</h1>
</header>
<section>
    <div>${excerpt}</div>
    <div>${body}</div>
</section>
<footer>
    <ul>
      ${tags.map(tag => `<li>${tag}</li>`).join('\n      ')}
    </ul>
</footer>`;


 
document.getElementById("content").innerHTML=postHtml;

// import { foo } from 'foo.js';
// console.log(foo); 
}


</script>     






</head>

<body onload="ld()">

<h3>https://www.javascripttutorial.net/es6/es6-modules/</h3>


<script type="text/javascript">
    
              document.write(`Title : ${a} <br>`)
              document.write(`dddddddddd${tit}ddddddddddddddd`);
    
              
</script>

 <div id="content"></div>
</body>
</html>


